body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Register*/
.regDiv1{
	height: 100vh;
	background: url("https://images.unsplash.com/photo-1515767160065-1733c5eb680f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.cardbodyReg{
	font-style: bold;
	font-size: 1.7vw;
	color: black;
}
.container1{
	background: transparent;
}
.imgReg{
	height: 70px;
}
.cardheaderReg{
	font-style: bold;
	font-size: 2vw;
	color: black;
}
.regDiv2{
	height: 100vh;
}
.cardImg{
	height: 250px;
	transition: transform .1s;
}
.cardImg:hover{
	 transform: scale(1.1);
}

/*login css*/
.logDiv{
	height: 100vh;
	background: url("https://images.pexels.com/photos/2973106/pexels-photo-2973106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/*footer*/
.cardFoot{
	height: 15vh;
}
/*navbar*/
.liNav{
	color: yellow;
	font-style: bold;
	font-size: 1.3vw;
}
/*chalet*/
/*home*/
.homeDiv{
	height: 100vh;
	background: url("https://images.pexels.com/photos/2294125/pexels-photo-2294125.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
